<h1>Edit Story</h1>
<form action="/stories/{{storyy.id}}" method="POST">
  <div class="row">
    <div class="input-field col s6">
      <input type="text" class="validate" name="title" value="{{storyy.title}}">
      <label>Title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <select name="status">
        {{#select storyy.status}}
        <option value="Public" selected>Public</option>
        <option value="Private">Private</option>
        <option value="Unpublished">Unpublished</option>
        {{/select}}
      </select>
      <label>Status</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <label>
        <input type="checkbox" class="filled-in" {{#if storyy.allowComments}} checked {{/if}} name="allowcomments" />
        <span>Allow Comments</span>
      </label> </div>
  </div>
  <div class="row">

    <div class="input-field col s6">
      <textarea id="textarea2" name="editor1">{{storyy.body}}</textarea>
      <button class="btn waves-effect waves-light black" type="submit">Update
        <i class="material-icons right">send</i>
      </button>
    </div>

</form>